{% extends "base.html" %}

{% block content %}
    <h1>Sign In</h1>
    <div class="error-messages"></div>
    <form id="login-form" action="{{ url_for('login') }}" method="post">
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
{% endblock %}
