{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    <div class="error-messages"></div>
    <form id="register-form" action="{{ url_for('register') }}" method="post">
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
